body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainImage {
  /*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/test_image.jpg");
  background-size: cover;
  z-index: -1;*/

  height: 100vh;

  background: url(../../images/main_image.jpg) no-repeat center;
  background-size: cover;
}

.title-dark,
.title-light,
.subtitle-dark,
.subtitle-light {
  width: 731px;
  position: absolute;
  font-family: Poppins;
  word-wrap: break-word;
}

/*제목*/
.title-light {
  height: 78px;
  left: 90px;
  top: 280px;
  color: #12b48d;
  font-size: 80px;
  font-weight: 600;
}

/*제목 그림자*/
.title-dark {
  height: 78px;
  left: 90px;
  top: 280px;
  color: rgba(0, 0, 0, 0.5); /* 투명한 검정색 */
  -webkit-text-stroke-width: 1; /* 텍스트 테두리 두께 */
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.5); /* 텍스트 테두리 색상*/
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  filter: blur(2px); /* 텍스트에 2픽셀의 블러 효과 적용*/
}

/* 설명*/
.subtitle-light {
  height: 171px;
  left: 90px;
  top: 400px;
  color: white;
  font-size: 56px;
  font-weight: 600;
}

/* 설명 그림자*/
.subtitle-dark {
  height: 171px;
  left: 90px;
  top: 400px;
  color: rgba(0, 0, 0, 0.5); /* 투명한 검정색 */
  -webkit-text-stroke-width: 1; /* 텍스트 테두리 두께 */
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.5); /* 텍스트 테두리 색상 */
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  filter: blur(2px); /* 텍스트에 2픽셀의 블러 효과 적용 */
}
