/* 전체 위반 목록 컨테이너 */
.violationList {
  margin-top: 120px;
  margin-left: calc(
    (100% - 1800px) / 2
  ); /* 웹페이지 너비의 절반에서 컨테이너의 절반 너비를 뺀 값으로 왼쪽 마진을 설정하여 중앙에 위치하도록 합니다. */
  width: 800px; /* 컨테이너의 너비를 설정 */
}

.violationList.nonAdmin {
  margin-top: 160px; /* ADMIN이 아닐 때의 마진-그러니까 서치바가 없을 때를 고려함 */
}

/* 검색 폼의 디자인을 설정합니다. */
.violation-search {
  padding: 2px;

  width: 240px;
  height: 34px;
  margin-top: 30px;
  margin-left: 1100px; /*230px*/
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* 얇은 테두리 추가 */
  border-radius: 4px; /* 테두리 둥글게 설정 */
  margin-bottom: -20px;
}

/* 검색 입력창의 디자인을 설정합니다. */
.violation-search input[type="text"] {
  margin-left: 5px;
  width: 160px;
  padding: 8px;
  margin-right: 10px;
  border: none; /* 입력창 테두리 제거 */
  border-radius: 0; /* 입력창의 테두리 반경 제거 */
}

/* 검색 버튼의 디자인을 설정합니다. */
.violation-search button {
  margin-left: 16px;
  padding: 8px;
  background-color: transparent; /* 배경색 투명으로 설정 */
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 위반 목록 */
.violationList ul {
  list-style-type: none;
  padding: 0;
}

/* 위반 목록 아이템 */
.violationList li {
  position: relative; /* li 요소를 relative로 설정합니다. */

  padding: 20px; /* 내부 여백을 조절하여 프레임 크기를 조정합니다. */
  border-radius: 8px; /* 프레임의 테두리를 둥글게 만듭니다. */
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  그림자 효과를 추가하여 프레임을 돋보이게 만듭니다. */
  margin-left: 240px;

  width: 832px;
  height: 150px;
  margin: 0 0 30px 500px;
  padding: 10px;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
}

/* 위반 목록 아이템 사이의 구분선 */
.violationList li + li {
  border-top: 1px solid #cccccc; /* 회색 선을 추가하여 구분선을 만듭니다. */
}

/* 차량 번호 */
.violationList .carNumber {
  margin-top: 15px;
  margin-left: 3px;
  width: 326px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 540;
  font-size: 24px;
  line-height: 45px;
}

/* 위반 날짜 */
.violationList .violationDate {
  margin-left: 4px;
  width: 259px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

/* 위반 내용 */
.violationList .violationDetails {
  margin-left: 4px;
  width: 259px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

/* 위반 이미지를 감싸는 div 요소 */
.violationList .imageContainer {
  float: right; /* 오른쪽으로 정렬합니다. */
  margin-left: 20px; /* 이미지와 텍스트 사이의 간격을 조정합니다. */
  margin-top: 5px; /* 이미지의 상단 여백을 설정합니다. */
}

/* 위반 이미지 */
.violationList .violationImage {
  max-width: 100%;
  height: 150px;
  margin-top: 10px;
  float: right; /* 이미지를 오른쪽으로 부유시킵니다. */
  margin-top: 0px;
  margin-left: 20px; /* 이미지와 텍스트 사이의 간격을 조정합니다. */
}

/* 상세 정보 버튼 */
.violationList .detailButton {
  padding: 6px 12px;
  background-color: #cccccc;
  color: #000000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 14px;
  margin-left: 4px;
}

/* 페이지네이션 */
.violationList .paginationButtonContainer {
  width: 100%;

  display: flex;
  justify-content: center; /* 가운데 정렬 */
  margin-left: 525px;
  /*background-color: #0e8e70; /* 활성화된 상태 배경색 */
}

/* 페이지네이션 버튼 */
.violationList .paginationButton {
  margin-top: 60px;
  margin-bottom: 60px;

  display: inline-block;
  padding: 8px 16px;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 페이지네이션 버튼 활성화 상태 */
.violationList .paginationButton.active {
  font-weight: bold;
}
