.container {
  position: relative;
  margin: 0;
  z-index: -1;
}

.introImage {
  /*height: 100vh;*/
  width: 1936px;
  height: 1096px;
  background: url(../../images/blur_image3.jpg) no-repeat center;
  background-size: cover;
}

.intro-content {
  position: absolute;
  width: 1280px;
  height: 832px;
  left: 0px;
  top: 67px;
}

.introTitle {
  position: absolute;
  width: 100%;
  height: 78px;
  left: 90px;
  top: 228px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #1a745f;
}

.introContents1,
.introContents2,
.introContents3 {
  position: absolute;
  width: 800px;
  left: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 50x;
  color: #000000;
}

.introContents1 {
  top: 306px;
}

.introContents2 {
  top: 480px;
  font-size: 28px;
}

.introContents3 {
  top: 480px;
  margin-top: 40px;
}
