/* 전체 위반 목록 컨테이너 */
.violationList {
  margin-top: 100px;

  width: 800px; /* 컨테이너의 너비를 설정 */
}

/* 검색 입력란 */
.violationList input[type="text"] {
  width: 210px;
  padding: 8px;
  margin-right: 10px;
  margin-left: 300px;
  border: 1px solid #cccccc;
  border-radius: 4px;

  margin-bottom: 60px;
}

/* 검색 버튼 */
.violationList button {
  padding: 10px 16px;
  background-color: #cccccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 위반 목록 */
.violationList ul {
  list-style-type: none;
  padding: 0;
}

/* 위반 목록 아이템 */
.violationList li {
  position: relative; /* li 요소를 relative로 설정합니다. */

  padding: 20px; /* 내부 여백을 조절하여 프레임 크기를 조정합니다. */
  border-radius: 8px; /* 프레임의 테두리를 둥글게 만듭니다. */
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  그림자 효과를 추가하여 프레임을 돋보이게 만듭니다. */
  margin-left: 240px;

  width: 832px;
  height: 150px;
  margin: 0 0 30px 500px;
  padding: 10px;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
}

/* 위반 목록 아이템 사이의 구분선 */
.violationList li + li {
  border-top: 1px solid #cccccc; /* 회색 선을 추가하여 구분선을 만듭니다. */
  margin-top: -20px; /*구분선 간격*/
}

/* 차량 번호 */
.violationList .carNumber {
  margin-left: 4px;
  width: 326px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
}

/* 위반 날짜 */
.violationList .violationdate {
  margin-left: 4px;
  width: 259px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

/* 위반 내용 */
.violationList .violationDetails {
  margin-left: 4px;
  width: 259px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

/* 위반 이미지를 감싸는 div 요소 */
.violationList .imageContainer {
  float: right; /* 오른쪽으로 정렬합니다. */
  margin-left: 20px; /* 이미지와 텍스트 사이의 간격을 조정합니다. */
  margin-top: 10px; /* 이미지의 상단 여백을 설정합니다. */
}

/* 위반 이미지 */
.violationList .violationImage {
  max-width: 100%;
  height: 150px;
  margin-top: 10px;
  float: right; /* 이미지를 오른쪽으로 부유시킵니다. */
  margin-top: 10px;
  margin-left: 20px; /* 이미지와 텍스트 사이의 간격을 조정합니다. */
}

/* 상세 정보 버튼 */
.violationList .detailButton {
  padding: 6px 12px;
  background-color: #cccccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 14px;
  margin-left: 4px;
}

/* 페이지네이션 */
.violationList .paginationButtonContainer {
  text-align: center; /* 페이지네이션 버튼을 가운데 정렬합니다. */
  width: 400px;

  margin-left: 700px;
}

/* 페이지네이션 버튼 */
.violationList .paginationButton {
  display: inline-block;
  padding: 8px 16px;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.001px;

  margin-top: 100px;
  margin-bottom: 50px;
}

/* 페이지네이션 버튼 활성화 상태 */
.violationList .paginationButton.active {
  font-weight: bold;
}
