.navbar {
  color: #000; /* 모든 텍스트 색상을 검정색으로 변경 */
  width: 1936px; /* 1280px * 1.5 */
  height: 63px; /* 42px * 1.5 */
  position: fixed;
  top: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; /* 20px * 1.5 */
  box-sizing: border-box;
  background-color: #ffff; /* Navbar 배경색 추가 */
  z-index: 9999; /* 다른 요소보다 큰 z-index 값 설정 */
}

.brand {
  position: absolute;
  width: 78px; /* 52px * 1.5 */
  height: 30px; /* 20px * 1.5 */
  left: 3.1%; /* 2.73% * 1.5 */
  top: 25%; /* 25% */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px; /* 20px * 1.5 */
  line-height: 30px; /* 20px * 1.5 */
  color: #12b48d; /* 모든 텍스트 색상을 검정색으로 변경 */
  text-shadow: none;
  text-decoration: none; /* 밑줄 제거 */
}

.nav-items {
  display: flex;
  margin-left: 1026px; /* 684px * 1.5 */
}

.nav-item {
  color: #000;
  font-family: Poppins;
  font-size: 19.5px; /* 13px * 1.5 */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px; /* 20px * 1.5 */
  cursor: pointer;
  text-decoration: none; /* 밑줄 제거 */
  text-shadow: none; /* 그림자 제거 */
  transition: font-weight 0.2s; /* 글꼴 두껍게 전환 트랜지션 설정 */
}

.nav-item:hover {
  font-weight: bold; /* 호버 시 글꼴을 두껍게 설정 */
}

.user-actions {
  color: #000; /* 모든 텍스트 색상을 검정색으로 변경 */
  font-family: Poppins;
  font-size: 13.5px; /* 9px * 1.5 */
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 14px * 1.5 */
  display: flex;
  text-shadow: none; /* 그림자 제거 */
}

.action:hover {
  font-weight: bold; /* 호버 시 글꼴을 두껍게 설정 */
}

.user-name {
  margin-right: 10px; /* 사용자 이름과 슬래시 사이 여백 */
}

.action {
  margin-right: 10px; /* 10px * 1.5 */
  cursor: pointer;
  text-decoration: none; /* 밑줄 제거 */
  color: #000; /* 모든 텍스트 색상을 검정색으로 변경 */
  text-shadow: none; /* 그림자 제거 */
}

/*지피티가 도와준 써-브 메뉴!*/
/* 서브 메뉴 바 */
.sub-menu1 {
  background-color: white;
}

/* 각 메뉴 항목 스타일 */
.sub-menu1 a {
  /* 블록 요소로 설정하여 한 줄에 하나의 항목이 표시되도록 함 */
  display: block;
  /* 폰트 패밀리 및 굵기, 크기, 줄 높이 설정 */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  /* 텍스트 색상 설정 */
  color: #626262;
  /* 좌우 여백 설정 */
  margin: 0 20px;
  /* 텍스트에 밑줄 제거 */
  text-decoration: none;
  /* 텍스트 색상 변화 시 부드러운 전환 효과 설정 */
  transition: color 0.3s ease;
}

/* 링크에 마우스를 올렸을 때 색상 및 글꼴 두껍게 설정 */
.sub-menu1 a:hover {
  color: #000; /* 링크에 마우스를 올렸을 때 텍스트 색상을 검정색으로 변경 */
  font-weight: bold; /* 링크에 마우스를 올렸을 때 글꼴을 두껍게 설정 */
}

.sub-menu1 .sub-name1 {
  margin-left: 1000px;
}

.sub-menu1 .sub-name2 {
  margin-left: 30px;
}
